<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#f6f3e4" style="background-color:#f6f3e4;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="top" style="padding-left:13px; padding-right:13px; background-color:#ffffff;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="84" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="80" align="center" valign="middle" bgcolor="#d80000" style="font-family:Arial, Helvetica, sans-serif; color:#ffffff;"><div style="font-size:15px;"><b>Issue</b></div><div style="font-size:30px;"><b>17</b></div></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:48px;"><i>Menu planner</i></td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="padding-top:7px;"><table width="240" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="31" align="center" valign="middle" bgcolor="#d80000" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:19px; color:#ffffff;">Month/Year</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="padding-top:15px;"><img src="http://trichilofoods.com/site/wp-content/uploads/2015/06/veggies.jpg" width="573" height="243" style="display:block;"></td>
          </tr>
          <br>
          <tr>
            <td align="center" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:24px; padding-bottom:5px;"><i>Buenas Rebeca y Alberto!
              </i>
            <tr>
            <td align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:15px;">Este es el menú que he preparado para vosotros para esta semana: </div>
                <br/><br/>

            <table>
                <tr>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                    <th>Domingo</th>
                </tr>
                <tr>
                  #foreach ($lunch in $lunchesList)
                      <td>$lunch.description</td>
                  #end
                </tr>
                <tr>
                  #foreach ($dinner in $dinnersList)
                      <td>$dinner.description</td>
                  #end
                </tr>
            </table>
            <BR/>


          #foreach ($lunch in $lunchesList)
              <tr>
                  <td>$lunch.description</td>
                  <td>$lunch.ingredients</td>
              </tr>
          #end
          #foreach ($dinner in $dinnersList)
              <tr>
                  <td>$dinner.description</td>
                  <td>$dinner.ingredients</td>
              </tr>
          #end

          <br/><br/>
          <tr>
            <td align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:12px; color:#000000;">
            <div style="color:#b30467; font-size:15px;"><b>Disfrutad vuestro menú!</b></div>
            </td>
          </tr>
        </table></td>
      </tr>
    </table>
    <br>
    <br></td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>
